In [1]:
import acquire
import wrangle

In [2]:
df, df_outlier_3pt, X_train_exp, X_train, y_train, X_validate, y_validate, X_test, y_test = wrangle.wrangle_prep()

Train = 47167 rows (56.0%) | Validate = 20215 rows (24.0%) | Test = 16846 rows (20.0%)

/Users/jeneyring/codeup_data_science/shot-caller-for-ballers/Notebooks/Jen/wrangle.py:157: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['shot_made_flag'] = np.where(test.shot_result == 'Made Shot',1,0)

In [6]:
df

,player,player_id,team,team_id,game_id,home,period,abs_time,play_time,since_rest,...,game_3miss,cum_3pa,cum_3pm,cum_3miss,cum_3pct,tm_v1,tm_v2,tm_v3,distance,game_event_id
0,Bogdan Bogdanovic,203992,Atlanta Hawks,1610612737,22100014,True,1,226,226.0,226.0,...,0,1,1,0,1.000000,1.000000,1.000000,0.000000,23.681216,42
1,Bogdan Bogdanovic,203992,Atlanta Hawks,1610612737,22100014,True,1,253,253.0,253.0,...,0,2,2,0,1.000000,2.000000,2.000000,0.000000,24.920875,47
2,Bogdan Bogdanovic,203992,Atlanta Hawks,1610612737,22100014,True,3,1580,867.0,140.0,...,0,3,3,0,1.000000,3.000000,3.000000,0.000000,23.821209,362
3,Bogdan Bogdanovic,203992,Atlanta Hawks,1610612737,22100014,True,3,1896,1183.0,456.0,...,1,4,3,1,0.750000,2.250000,2.625000,9.000000,24.911042,433
4,Bogdan Bogdanovic,203992,Atlanta Hawks,1610612737,22100014,True,4,2411,1308.0,19.0,...,2,5,3,2,0.600000,1.800000,2.400000,4.500000,25.122301,548
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84223,Terry Rozier,1626179,Charlotte Hornets,1610612766,22101217,True,3,1470,1069.0,500.0,...,4,581,215,366,0.370052,1.089878,2.017542,1.730107,25.294466,351
84224,Terry Rozier,1626179,Charlotte Hornets,1610612766,22101217,True,4,2366,1538.0,15.0,...,4,582,216,366,0.371134,1.098150,2.028527,1.746238,23.009781,565
84225,Terry Rozier,1626179,Charlotte Hornets,1610612766,22101217,True,4,2393,1565.0,42.0,...,4,583,217,366,0.372213,1.106440,2.039522,1.762445,22.810743,571
84226,Terry Rozier,1626179,Charlotte Hornets,1610612766,22101217,True,4,2566,1738.0,215.0,...,4,584,218,366,0.373288,1.114749,2.050525,1.778726,23.200216,603
84227,Terry Rozier,1626179,Charlotte Hornets,1610612766,22101217,True,4,2710,1882.0,359.0,...,4,585,219,366,0.374359,1.123077,2.061538,1.795082,22.703524,637

In [10]:
df.to_csv('basic_df.csv',index=False)